.parent{
    margin:auto;
    width: 800px;
    height: 500px;
    background-color: aquamarine;
    display:grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(3,1fr) ;
    row-gap: 5px;
    column-gap: 5px;
    
    align-content: space-around;
}
.parent div{
    padding: 20px;
    background-color: red;
    font-size: 20px;
color: white;
}
.haha{
    grid-column: 1/3;
}